.home {
  display: flex;
  flex-direction: column;

  background: #1b2021;
  margin-top: 0px;
  height: 1200px;
  align-items: center;

  /* width: 100%; */
}

.movieList {
  margin-top: 50px;
  width: 1200px;
}
