.main {
  background-color: #2d3436;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

h1.title {
  color: #dfe6e9;
  font-size: 50px;
  font-family: cursive, Papyrus;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

.filter {
  background-color: violet;
  position: absolute;
  right: 0px;
}
